# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

 ### Prerequisite: Table

 - 행과 열을 이용해서 데이터를 저장하고 관리하는 자료구조(컨테이너)
 - 주로 행은 개체, 열은 속성을 나타냄

### Pandas 시작하기

`import pandas` 를 통해서 진행  

기본적으로 alias를 pd로 설정한다.

In [1]:
import pandas as pd

## II. pandas로 1차원 데이터 다루기 - Series

### Series?

- 1-D(1차원) labeled **array**
- 인덱스를 직접 지정해줄 수 있는 컨테이너

In [2]:
s = pd.Series([1,4,9,16,25])

s

0     1
1     4
2     9
3    16
4    25
dtype: int64

Series는 인덱스를 지정해 줄 수 있다는 특성때문에 Dictionary와 호환이 된다.

In [3]:
t = pd.Series({'one':1, 'two':2, 'three':3, 'four':4, 'five':5})

t

one      1
two      2
three    3
four     4
five     5
dtype: int64

### Series + Numpy

- Series는 ndarray와 유사하다!

In [4]:
s[1]

4

In [5]:
t[1]

2

In [6]:
t[1:3]

two      2
three    3
dtype: int64

#### Series의 재미있는 기능 : 조건을 사용해서 값을 가져올 수 있다!

In [7]:
s[s > s.median()] # 자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라

3    16
4    25
dtype: int64

중앙값인 9보다 큰 값들만 가져온 것을 확인할 수 있다.  

이렇게 **조건으로 데이터를 필터링** 할 수 있는 것은 크나큰 장점이다.

#### Series는 원하는 인덱스를 리스트로 묶어서 전달할 수도 있다!

In [8]:
s[[3,1,4]] # 해당 인덱스의 순서대로 값을 반환해준다.

3    16
1     4
4    25
dtype: int64

#### numpy에 있는 함수도 pandas Series에 적용 가능

In [9]:
import numpy as np

np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

#### Series의 데이터 타입을 확인
- 방법은 numpy와 동일하다.
- `.dtype`

In [10]:
s.dtype

dtype('int64')

### Series + dict

- series는 **dict**와 유사하다.
  
series를 dict와 key-value 관계와 똑같이 사용할 수 있다.

In [11]:
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [13]:
t['one']

1

#### Series에 값 추가
- dict에 값 추가하는 방식과 같다.

In [14]:
t['six'] = 6

t

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

 #### Series에서 키 값의 존재 여부 확인
 - dict에서 한 것과 마찬가지로 `in`  연산자를 사용해주면 된다.

In [15]:
'six' in t

True

In [16]:
'seven' in t

False

In [17]:
# 없는 키를 Series에서 접근하면?

t['seven']

KeyError: 'seven'

없는 값을 가져오는 것은 허용되지 않는다.

그럼 값을 가져오면서 예외처리도 함께 해주려면?  

`.get()`을 사용하자.  

- `t.get('seven')` : seven이라는 키 값이 없으면 반환하지 않는다.
- `t.get('seven', 0)` : seven에 해당하는 value가 없다면 0을 반환

In [18]:
t.get('seven')

In [19]:
t.get('seven',0)

0

### Series에 이름 붙이기
- `name` 속성을 가지고 있다.
- 처음 Series를 만들 때 이름을 붙일 수 있습니다.

각 Series는 name속성을 가지고 있다.

In [20]:
s= pd.Series(np.random.randn(5), name="random_nums")

s

0    0.662523
1    1.026815
2   -2.302586
3   -0.486870
4    0.179132
Name: random_nums, dtype: float64

이전과 달리 Name이 정의되었기에 표시됨.  
  
각 Series에 name을 붙임으로써 편리하게 관리할 수 있다.  

- `.name`으로 name에 접근할 수도 있다.

In [21]:
s.name = "임의의 난수"

s

0    0.662523
1    1.026815
2   -2.302586
3   -0.486870
4    0.179132
Name: 임의의 난수, dtype: float64

## III. Pandas로 2차원 데이터 다루기 - dataframe

### dataframe?
- 2-D labeld **table**
- 인덱스를 지정할 수도 있다

table -> 가로와 세로가 있는 2차원 데이터  
label -> key 와 value가 있다.

In [22]:
d = {"height" : [1,2,3,4], "weight" : [30,40,50,60]}

df = pd.DataFrame(d) # D와 F가 대문자인 것 주의하자

df

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

dataframe은 이전에 다루었던 numpy의 array와 다르게 숫자만 담는게 아니라,  
문자, date(날짜), object(객체) 등등을 담을 수 있다.  
  &nbsp;    
따라서 어떤 자료형이 담겨있는지 확인하는 것이 중요하다.

#### DataFrame에 담겨있는 자료형 확인
- `.dtypes` 확인

numpy에서는 `numpy.array.dtype`으로 썼던 것과는 다르게,  
dataframe은 여러 column이 존재하기 때문에 `dtypes`를 써야한다.

In [23]:
df.dtypes

height    int64
weight    int64
dtype: object

cf) Comma Separated Value
- 우리가 대중적으로 사용하는 data 형식 중 하나 : CSV
- pandas에는 이 csv 파일을 바로 dataframe으로 바꿔줄 수 있는 함수를 지원한다.

### From CSV to dataframe
- Comma Separated Value를 DataFrame으로 생성해줄 수 있다.
- `.read_csv('csv가 있는 경로')`을 이용

In [24]:
# 동일 경로에 country_wise_latest.csv 가 존재하면:

covid = pd.read_csv("./country_wise_latest.csv")

In [25]:
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### Pandas 활용 1. 일부분만 관찰하기

`.head(n)` : 처음 n개의 데이터 참조

In [26]:
# 위에서부터 5개를 관찰하는 방법(함수)

covid.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

`.tail(n)` : 마지막 n개의 데이터를 참조

In [27]:
# 아래에서부터 5개를 관찰하는 방법(함수)

covid.tail(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

위, 아래로 몇 개의 데이터를 본 것만으로는 데이터 전체를 판단할 수 없다.  
편향된 추출이기 때문이다.  
&nbsp;  
일반화 불가!

### Pandas 활용 2. 데이터 접근하기
- df['column name']
- df.column_name
특정한 column의 정보만 보고 싶을 때,  
key로 접근하거나 객체에 접근하듯이 접근해줄 수 있다.  
&nbsp;  
**차이점**  
column name에 띄어쓰기가 들어가 있는 특수한 경우는 객체 접근 방법을 쓸 수 없다. (invalid syntax가 뜬다.)    
따라서 두 가지 방법을 다 알고 적절히 사용해야 한다.  
ex) covid 의 'WHO Region' column같은 경우

In [28]:
covid['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [ ]:
covid.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

### Honey Tip! DataFrame의 각 column은 "Series"다!

In [ ]:
type(covid['Confirmed'])

pandas.core.series.Series

dataframe은 각 column이 Series이므로 사실상 dataframe은 Series의 병렬적인 모음이다.

In [31]:
covid['Confirmed'][0]

36263

In [32]:
covid['Confirmed'][1:5]

1     4880
2    27973
3      907
4      950
Name: Confirmed, dtype: int64

### Pandas 활용 3. "조건"을 이용해서 데이터 접근하기

신규 확진자가 100명이 넘는 나라를 찾아보자!  

- covid["조건...."]

In [33]:
covid['New cases']

0      106
1      117
2      616
3       10
4       18
      ...
182    152
183      0
184     10
185     71
186    192
Name: New cases, Length: 187, dtype: int64

In [35]:
covid['New cases'] > 100

0       True
1       True
2       True
3      False
4      False
       ...
182     True
183    False
184    False
185    False
186     True
Name: New cases, Length: 187, dtype: bool

이 True False로 나오는 구문을 covid의 조건문으로 넣어주자

In [36]:
covid[covid['New cases'] > 100]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe
179,Uzbekistan,21209,121,11674,9414,678,5,569,0.57,55.04,1.04,17149,4060,23.67,Europe
180,Venezuela,15988,146,9959,5883,525,4,213,0.91,62.29,1.47,12334,3654,29.63,Americas
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [37]:
# WHO 지역(WHO Region)이 동남아시아인 나라 찾기

covid['WHO Region']

0      Eastern Mediterranean
1                     Europe
2                     Africa
3                     Europe
4                     Africa
               ...
182    Eastern Mediterranean
183                   Africa
184    Eastern Mediterranean
185                   Africa
186                   Africa
Name: WHO Region, Length: 187, dtype: object

여기서 어느 것이 동남아시아인지, 어떤 value가 있는지 모르기때문에 확인을 해줘야 한다.  

**범주형 자료**의 범주의 종류 확인 : `.unique()`함수 사용, unique한 값을 보여준다

In [38]:
covid['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [39]:
covid['WHO Region'] == 'South-East Asia'

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: WHO Region, Length: 187, dtype: bool

In [40]:
covid[covid['WHO Region'] == 'South-East Asia']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia

### Pandas 활용 4. 행을 기준으로 데이터 접근하기

dataframe은 index를 지정해줄 수 있다.  
pd.DataFrame(바꾸려는 데이터, `index=[]`)

In [46]:
# 예시 데이터 - 도서관 정보

books_dict = {"Available":[True, True,False], "Location":[102,215,323], "Genre":["Programming", "Physics", "Math"]}

books_df = pd.DataFrame(books_dict, index = ['버그란 무엇인가','두근두근 물리학','미분해줘 홈즈'])

In [47]:
books_df

          Available  Location        Genre
버그란 무엇인가       True       102  Programming
두근두근 물리학       True       215      Physics
미분해줘 홈즈       False       323         Math

### 인덱스를 이용해서 가져오기 : `.loc[row, col]`

In [48]:
books_df.loc["버그란 무엇인가"]

Available           True
Location             102
Genre        Programming
Name: 버그란 무엇인가, dtype: object

In [49]:
type(books_df.loc["버그란 무엇인가"])

pandas.core.series.Series

행 또한 Series이다

In [50]:
# "미분해줘 홈즈 책이 대출가능한지?"

books_df.loc["미분해줘 홈즈"]['Available']

False

In [ ]:
books_df.loc["미분해줘 홈즈",'Available']

False

### 숫자 인덱스를 이용해서 가져오기 : `.iloc[rowidx, colidx]` 

순수하게 숫자 인덱스만 인용한다. index location의 의미  
iloc은 numpy의 ndarray에서 사용했던 로직과 완전히 똑같다.

In [53]:
# 인덱스 0행의 인덱스 1열 가져오기

books_df.iloc[0,1]

102

In [54]:
# 인덱스 1행의 인덱스 0~1열 가져오기

books_df.iloc[1,0:2]

Available    True
Location      215
Name: 두근두근 물리학, dtype: object

### Pandas 활용 5. groupby

- SQL의 groupby와 완전히 동일하다.  
- groupby는 어떤 테이블이 있을 때 3가지 과정을 거쳐서 더 좋은 결과를 얻는 것이 목표이다.

1. Split : 특정한 '기준'을 바탕으로 DataFrame을 분할
2. Apply : 통계함수 - sum(), mean(), median(), ... 을 적용해서 각 데이터를 압축
3. Combine : Apply된 결과를 바탕으로 새로운 Series를 생성, (group_key : applied_value) 쌍이 만들어진다.

`.groupby(by=기준..)`  
기준을 by="WHO Region"이런 식보다는 Series 형태(by=covid["WHO Region"])로 적어주는 것이 좋다.

#### WHO Region 별 확진자 수

1. covid에서 확진자 수 column만 추출한다.   
   covid['Confirmed']  
2. 이를 covid의 WHO Region을 기준으로 groupby한다.  
   covid['Confirmed'].groupby(by=covid["WHO Region"])

In [55]:
covid_by_region = covid['Confirmed'].groupby(by=covid["WHO Region"])

covid_by_region

현재 Split만 적용된 상태라서 이렇게 객체로 나온다.  
Apply와 Combine을 실행해야 함.  
&nbsp;  
Combine은 Apply를 진행하면 자연스럽게 적용된다.

In [56]:
covid_by_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

하지만, 표본의 수가 동일하지 않으므로 판단하기 적절하지 않다.

In [57]:
# 국가당 감염자 수

covid_by_region.mean() # sum()/국가 수

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [60]:
covid["Deaths / 100 Cases"]

0       3.50
1       2.95
2       4.16
3       5.73
4       4.32
       ...
182     0.73
183    10.00
184    28.56
185     3.08
186     1.33
Name: Deaths / 100 Cases, Length: 187, dtype: float64

In [63]:
covid[covid["Deaths / 100 Cases"] == covid["Deaths / 100 Cases"].max()]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean

In [65]:
covid[covid["Deaths / 100 Cases"] == covid["Deaths / 100 Cases"].max()]["Country/Region"]

184    Yemen
Name: Country/Region, dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

복수 조건을 사용할 경우 &, | 을 사용한다.  
각 조건을 괄호()로 묶는 것이 안전하다.  
추가적으로 어떤 리스트 안에 해당되는 값을 뽑고 싶을 때는 `.isin()`함수를 사용한다.

In [69]:
covid[(covid["New cases"]==0) & (covid["WHO Region"]=='Europe')]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [70]:
avocado = pd.read_csv("./avocado.csv") # 바로 DataFrame으로 받는다.

avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [78]:
avocado['AveragePrice'].groupby(by = avocado['region']).max()

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64

In [79]:
avocado.groupby(by = avocado['region']).max()['AveragePrice']

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64

동일한 결과